body {
  font-size: 0.8em;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: linear-gradient(white, hsl(32, 30%, 70%));
  background-image: url("../img/wood.jpg");
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
form,
fieldset {
  width: auto;
}
nav input {
  display: none;
}

#wrap {
  width: 1024px;
  width: 80%;
  min-width: 720px;
  text-align: center;
  margin: 2% auto;
  border: solid 1px;
  background-image: url("../img/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: 0 0 50px black;
  overflow: hidden;
}

#wrap > div {
  display: flex;
  text-align: left;
  border: solid white 0.5em;
  position: relative;
  box-shadow: 0 0 50px black;
}

#wrap > div > section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  margin: 0.75em;
  background-color: rgba(255, 255, 255, 0.6);
  background-color: hsla(34, 78%, 91%, 0.6);
  background-image: url("../img/burtonfont.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  box-shadow: 1px 1px 3px black;
  border: solid 1px white;
}

#wrap > div > section {
  flex: 2 0 0;
  min-width: 13.2em;
  border-radius: 16px;
}

#wrap > div > main {
  flex: 7 1 1em;
}

main > h2 {
  color: black;
  font-weight: normal;
  font-size: 1.7em;
  margin: 0 0 0.5em;
}

main h2 {
  margin: 0 0 0.25em;
}

main > section > aside {
  flex: 1 1 1em;
  margin: 0 3em 0 0;
  margin: 0 1em 0 0;
  align-self: top;
}

main > p {
  margin: 0.25em 0;
}


main > section > aside a {
  display: block;
  border-radius: 8px;
  border: solid black 1px;
}
main > section > aside a img {
  display: block;
  border-radius: 7px;
}

main > section > aside a:hover {
  filter: saturate(2);
  border-color: blue;
}

main > section h2 {
  font-weight: bold;
}

.accordion ul {
  padding: 0;
  margin: 0;
  width: 70%;
  z-index: 1;
  position: relative;
  font: 1em Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
legend {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.accordion ul li {
  margin: 0 0 0.5em;
}

.accordion ul li a {
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.8);
  color: #7c4d19;
  color: hsla(0, 68%, 30%, 1);
  border-radius: 8px;
  display: block;
  border: solid 1px grey;
  text-decoration: none;
}
.accordion ul li a:hover {
  background-color: white;
  color: hsl(80, 100%, 30%);
}
.accordion ul li.hi a {
  background-color: white;
  color: hsl(80, 100%, 30%);
  font-weight: bold;
}

.accordion ul > li {
  display: block;
}

main.one section:nth-of-type(n + 5) {
  display: none;
}

/*https://css-tricks.com/nth-child-between-two-fixed-indexes/*/
main.two section:nth-of-type(-n + 4),
main.two section:nth-last-of-type(-n + 4) {
  display: none;
}

main.three section:nth-of-type(-n + 8) {
  display: none;
}

#pagination a {
  width: 2em;
  height: 2em;
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: hsl(340, 95%, 15%);
  color: white;
  border-radius: 50%;
  line-height: 2;
}

#pagination li {
  display: inline-block;
  margin: 0 0.2em 0 0;
}
#pagination a:hover,
.one #pagination li:nth-child(1) a,
.two #pagination li:nth-child(2) a,
.three #pagination li:nth-child(3) a {
  background-color: hsl(340, 95%, 25%);
}

a#FacebookBadge {
  width: 50%;
  display: block;
  padding: 3px 0;
  border-radius: 4px;
  background-color: hsla(0, 68%, 30%, 1);
}
a#FacebookBadge:hover {
  background-color: #4267b2;
}
a#FacebookBadge img {
  display: block;
  width: 100%;
  padding: 0;
}

.ribbon-1 {
  position: fixed;
  background: rgba(49, 2, 73, 1);
  background-color: hsla(0, 68%, 30%, 1);

  box-shadow: 0 0 0 999px hsla(0, 68%, 30%, 1);
  clip-path: inset(0 -100%);
  color: white;
  font-size: 1.5em;
}
.right {
  inset: 0 0 auto auto;
  transform-origin: 0 0;
  transform: translate(29.3%) rotate(45deg);
}

/*https://codepen.io/t_afif/pen/dyZOBex*/
.ribbon-2 {
  --f: 10px; /* control the folded part*/
  --r: 15px; /* control the ribbon shape */
  --t: 10px; /* the top offset */
  color: whitesmoke;
  position: absolute;
  inset: var(--t) calc(-1 * var(--f)) auto auto;
  padding: 10px 10px 20px calc(10px + var(--r));
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--f)),
    calc(100% - var(--f)) 100%,
    calc(100% - var(--f)) calc(100% - var(--f)),
    0 calc(100% - var(--f)),
    var(--r) calc(50% - var(--f) / 2)
  );
  background: rgba(49, 2, 73, 1);
  background-color: hsla(0, 68%, 30%, 1);
  color: hsl(350, 100%, 92%);
  box-shadow: 0 calc(-1 * var(--f)) 0 inset #0005;
  margin: 0.5em 0 0;
  font-size: 1.5em;
}
#contact .ribbon-2 {
  margin: 0.5em 0 0;
}
#triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  border: solid 100px white;
  width: 0px;
  border-color: transparent hsl(90, 65%, 60%) hsl(90, 65%, 60%) transparent;
}

#triangle:before {
  content: "07966 702640";
  display: block;
  position: absolute;
  bottom: -60px;
  right: 1em;
  color: white;
  width: 100%;
  white-space: nowrap;
  font-size: 1.3em;
  text-shadow: 1px 1px 1px black;
}
#triangle:after {
  content: "call/text Selina";
  display: block;
  position: absolute;
  bottom: -40px;
  right: 1em;
  color: white;
  width: 100%;
  white-space: nowrap;
  font-size: 1.3em;
  text-shadow: 1px 1px 1px black;
}

.intro {
  margin: 4em 0 1em;
  font: 1.04em/1.4 Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
}
body#contact main > article {
  margin: 4em 0 0;
}
fieldset {
  display: grid;
  grid-template-columns: 15em 10px auto 10em;
  grid-template-rows: auto 10px auto;
  margin: 0 0 4em;
  text-align: left;
}
legend {
  font-size: 1.5em;
  font-size: calc(1em + (0.5em) * (100vw - 564px) / (1280 - 564));
}

fieldset label:first-of-type {
  grid-row: 1/2;
  grid-column: 1/2;
}

fieldset input:first-of-type {
  grid-row: 1/2;
  grid-column: 3/4;
}
textarea {
  grid-row: 1/4;
  grid-column: 3/5;
}

fieldset label:last-of-type {
  grid-row: 3/4;
  grid-column: 1/2;
}
fieldset input:last-of-type {
  grid-row: 3/4;
  grid-column: 3/4;
}
fieldset:last-of-type label {
  grid-row: 1/2;
  grid-column: 1/2;
}
fieldset:last-of-type {
  margin: 0 0 1em;
}
form {
  text-align: center;
}
form #save {
  margin: 0 auto;
}
label {
  text-align: right;
}

p.external a {
  text-decoration: none;
  color: hsl(32, 66%, 29%);
  font: 0.9em Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.external a:hover {
  color: hsl(80, 100%, 25%);
}
.outings main,
#contact main {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(49, 2, 73, 1);
  color: hsla(0, 68%, 30%, 1);
  margin: 0.75em;
  padding: 1em;
}
.outings main > section {
  display: flex;
  align-content: start;
  margin: 0 0 5em;
}
.outings main > section:first-of-type {
  margin: 2em 0 5em;
}

.outings main > section > article {
  flex: 6 1 1em;
  border-top: solid 1px black;
  display: flex;
  flex-direction: column;
}
.outings article p {
  margin: 0;
  color: #444;
  font-size: 1.2em;
}

.outings main img {
  display: block;
  width: 100%;
}
.outings main > section > article {
  padding: 0.5em .5em 0;
}
/*https://wpbeaches.com/aligning-last-item-bottom-container-flexbox/*/
.outings main article p:last-child {
  margin-top: auto;
}

#contact #wrap > div {
  background-color: hsl(55, 37%, 62%, .88);
}

#contact main {
  background-color: transparent;
  margin: 0;
  overflow: hidden;
}


main #FacebookBadge {
  display: none;
}
/*/////////////////////////////////////////////*/


@media only screen and (max-width: 1024px) {

  fieldset {
    grid-template-columns: 10em 10px auto 15em;
  }
  fieldset input:first-of-type {
    grid-column: 3/5;
  }

  fieldset input:last-of-type {
    grid-column: 3/5;
  }

  fieldset:last-of-type label {
    text-align: left;
  }

  fieldset:last-of-type {
    row-gap: 10px;
  }

  fieldset:last-of-type textarea {
    margin: 0 0 1em;
    grid-row: 2/4;
    grid-column: 1/5;
  }
  .external {
    display: none;
  }
}

@media only screen and (max-width: 812px) {
  html,
  body {
    margin: 0;
    padding: 0;
    background-image: none;
  }
  .outings #wrap, #gallery #wrap {
    background-image: url("../img/wood.jpg");
  }

  .outings #wrap > div{
    background-color:hsla(28, 77%, 12%, .5);
  }

  .outings main, #gallery main {
    color: white;
    background-color: transparent;
  }
  .outings article p, .intro {
    color: white;
    text-shadow: 1px 1px 1px black;
  }

  main > section > aside a {
    box-shadow: 1px 1px 2px  black;
    border-color: hsl(26, 100%, 90%);
  }
  main > section > aside a:hover {
    border-color: white;
  }

  main section h2, .ribbon-2 {
    color: hsl(26, 100%, 70%);
    text-shadow: 1px 1px 1px black;
  }
  nav {
    background-color: transparent;
  }
  .accordion {
    position: relative;
  }

  #wrap > div {
    display: block;
    border-width: 0;
  }
  #wrap > div > section footer {
    display: none;
  }
  #wrap > div > section {
    background-color: transparent;
    background-image: url("../img/burtonfont_horizontal.jpg");
    background-position: 0 50%;
    height: 4em;
    box-shadow: none;
    border-width: 0;
    border-radius: 0;
  }
  #wrap {
    min-width: auto;
    width: 100%;
    margin: 0;
    border-width: 0;
    padding: 0;
  }

  .outings main,
  main {
    margin: 0;
  }
  .accordion ul li {
    margin: 0;
  }
  .accordion ul li.hi a {
    background: hsla(0, 68%, 42%, 1);
    color: white;
  }
  .accordion ul li.hi a:hover {
    background: black;
  }
  .accordion label {
    position: absolute;
    top: 0em;
    right: 2.5em;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    outline: solid 1px white;
    background-position: 50% 100%;
  }
  .accordion label {
    background: 50% 1% url("../img/wheel.png") no-repeat firebrick;
    -o-background-size: 100%;
    -moz-background-size: 100%;
    -ms-background-size: 100%;
    -webkit-background-size: 100%;
    background-size: 100%;
    -webkit-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
  }
  .menu {
    background-color: firebrick;
  }
  .menu:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background-color: hsl(0, 68%, 33%);
  }

  /*no need to fix advanced selectors for ie as mobile only layout*/
  .accordion input:checked + ul > li {
    height: 2.5em;
  }
  .accordion ul > li {
    height: 0;
    line-height: 2.4;
    transition: height 0.9s ease-out;
  }
  .accordion ul {
    width: 11em;
    position: absolute;
    top: 5.6em;
    left: -99em;
    background-color: transparent;
  }

  .accordion input:checked + ul {
    z-index: 2;
    opacity: 0.95;
    position: relative;
    left: calc(100% - 11em);
  }

  .accordion ul li a {
    border-radius: 0;
    padding: 0 0.5em;
    background-color: rgba(0, 0, 20, 0.95);
    background-color: hsla(0, 68%, 30%, 1);
    color: white;
  }
  .accordion ul li a:hover,
  .accordion ul li.hi a {
    background-color: hsla(0, 88%, 10%, 1);
    color: palegoldenrod;
  }

  a#FacebookBadge {
    display: none;
  }
  .ribbon-2 {
    position: relative;
    padding: 0;
    clip-path: none;
    inset: 0 0 0 0;
    background: none;
    box-shadow: none;
    margin: 0.5em 0 0;
    font-size: 1.8em;
    border: solid 1px;
    font-weight: bold;
    border-width: 0 0 1px;
  }
  .intro {
    margin: 1em 0;
  }
  main a#FacebookBadge {
    display: block;
    width: 6em;
    float: right;
    position: absolute;
    right: 0.3em;
    bottom: 1.8em;
    z-index: 1;
    margin-top: -2em;
    background-color: transparent;
  }

  #triangle {
    border-width: 12vw;
  }
  .outings #triangle:before,
  .outings #triangle:after {
    content: "";
  }
  #triangle:before,
  #triangle:after {
    font-size: calc(8px + (8) * (100vw - 320px) / (812 - 320));
  }
  #triangle:before {
    right: 2.5em;
    bottom: calc(-50px - (10) * (100vw - 320px) / (812 - 320));
    font-size: calc(12px + (6) * (100vw - 320px) / (812 - 320));
  }
  #triangle:after {
    bottom: calc(-30px - (10) * (100vw - 320px) / (812 - 320));
    right: 1.5em;
  }
  #contact main {
    padding: 2em;
  }

  #pagination a {
  background-color: hsl(26, 100%, 70%);
  color: hsl(32, 66%, 10%);
  }
  #contact .ribbon-2 {
    color: hsla(0, 68%, 30%, 1);
    text-shadow: none;
  }
 
  #pagination a:hover,
  .one #pagination li:nth-child(1) a,
  .two #pagination li:nth-child(2) a,
  .three #pagination li:nth-child(3) a {
    background-color: hsl(26, 100%, 90%);
  }
  .outings main > section > article {
    border-color: white;
  }
}
@media only screen and (max-width: 668px) {

  .outings main > section > article {
    flex: 3 1 1em;
  }
  #pagination li {
    font-size: 1.5em;
    margin: 0 .5em 0 0;
  }

}

@media only screen and (max-width: 520px) {
  #triangle {
    border-width: 16vw;
  }
  fieldset {
    grid-template-columns: 10em 10px auto 15em;
  }

  #wrap > div > section {
    background-image: url("../img/burtonfont_portrait.jpg");
  }
}


