body {
  font-size: 0.8em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: linear-gradient(white, hsl(32, 30%, 70%));
}

ul {
  padding: 0;
  margin: 0;
}
nav input {
  display: none;
}

p.external a {
  text-decoration: none;
  color: #7c4d19;
  font: .9em Arial, Helvetica, sans-serif;
}
.external a:hover {
  color: hsl(80, 100%, 25%);
}

#wrap {
  width: 1024px;
  width: 80%;
  min-width: 720px;
  text-align: center;
  margin: 2% auto;
  border: solid 1px;
  background-image: url("../img/06.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#wrap > div {
  display: flex;
  text-align: left;
  border: solid white 0.5em;
  position: relative;
}

#wrap > div > section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  margin: 0.75em;
  background-color: rgba(255, 255, 255, 0.6);
  background-color: hsla(34, 78%, 91%, .6);

  background-image: url("../img/burtonfont.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  box-shadow: 1px 1px 3px black;
  border: solid 1px white;
}

#wrap > div > section {
  flex: 2 0 0;
  min-width: 13.2em;
  border-radius: 16px;
}

#wrap > div > main {
  flex: 7 1 1em;
}


.outings main {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(49, 2, 73, 1);
  margin: 0.75em;
  padding: 1em;
}
main > h2 {
  color: black;
  font-weight: normal;
  font-size: 1.7em;
  margin: 0 0 0.5em;
}

main h2 {
  margin: 0 0 0.25em;
}

.outings main > section {
  display: flex;
  align-content: start;
  margin: 0 0 5em;
}
.outings main > section:first-of-type {
  margin: 2em 0 5em;
}

.outings main > section > article {
  flex: 6 1 1em;
  border-top: solid 1px black;
  display: flex;
  flex-direction: column;
}
.outings article p {
  margin: 0;
  color: #444;
  font-size: 1.2em;
}

main > section > aside {
  flex: 1 1 1em;
  margin: 0 3em 0 0;
}
.outings main > section > article {
  padding: 0.5em 1em 0;
}
/*https://wpbeaches.com/aligning-last-item-bottom-container-flexbox/*/
.outings main article p:last-child {
  margin-top: auto;
}
main > p {
  margin: 0.25em 0;
}

main > section > aside {
  margin: 0 2em 0 0;
  align-self: top;
}
main > section > aside a {
  display: block;
}
main > section > aside a {
  border: solid black 1px;
  display: block;
}

main > section > aside a:hover {
  filter: saturate(2);
}
.outings main img {
  display: block;
  width: 100%;
}

main > section h2 {
  font-weight: bold;
}

ul {
  list-style: none;
}

.accordion ul {
  padding: 0;
  margin: 0;
  width: 70%;
  z-index: 1;
  position: relative;
  font: 1em Arial, Helvetica, sans-serif;
}

.accordion ul li {
  margin: 0 0 0.5em;
}

.accordion ul li a {
  padding: 0.5em 0.5em 0.5em 1.5em;
  background-color: rgba(255, 255, 255, 0.8);
  color: #7c4d19;
  color: hsla(360, 84%, 25%, 1);
  border-radius: 8px;
  display: block;
  border: solid 1px grey;
  text-decoration: none;
}
.accordion ul li a:hover {
  background-color: white;
  color: hsl(80, 100%, 25%);
}
#burton {
  font-family: Whisper;
  font-size: 13em;
  line-height: 10;
  position: relative;
  z-index: 2;
  transform: rotate(270deg);
  transform-origin: right;
  position: absolute;
  top: 0.2em;
  left: -30%;
  z-index: 0;
}

.accordion ul > li {
  display: block;
}

main.one section:nth-of-type(n + 5) {
  display: none;
}

/*https://css-tricks.com/nth-child-between-two-fixed-indexes/*/
main.two section:nth-of-type(-n + 4),
main.two section:nth-last-of-type(-n + 4) {
  display: none;
}

main.three section:nth-of-type(-n + 8) {
  display: none;
}

#pagination a {
  width: 2em;
  height: 2em;
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: hsl(280, 95%, 15%);
  color: white;
  border-radius: 50%;
  line-height: 2;
}

#pagination li {
  display: inline-block;
  margin: 0 0.2em 0 0;
}
#pagination a:hover,
.one #pagination li:nth-child(1) a,
.two #pagination li:nth-child(2) a,
.three #pagination li:nth-child(3) a {
  background-color: hsl(280, 95%, 25%);

}

@media only screen and (min-width: 1024px) {
  #wrap {
    min-width: 900px;
  }
  body {
  }
}

@media only screen and (max-width: 768px) {
  #wrap > div {
    display: block;
    border-width: 0;
  }
  #wrap > div > section footer {
    display: none;
  }
  #wrap > div > section {
    background-color: transparent;
    background-image: url("../img/burtonfont.jpg");
    background-position: 0 0;
    background-size: 70%;
    height: 4em;
  }
  #wrap {
    min-width: auto;
    width: 100%;
    margin: 0;
    border-width: 0;
    padding: 0;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    background-image: none;
  }
  .outings main,
  main {
    margin: 0;
  }

  .accordion {
    position: relative;
  }

  .accordion label {
    position: absolute;
    top: 1.143em;
    top: 0;
    right: 1.143em;
    right: 2rem;
    height: 2.971em;
    height: 2.5rem;
    width: 2.857em;
    width: 2.5rem;
  }
  .accordion label {
    background: 50% 1% url("../img/polo_ball_sprite.png") no-repeat;
    -o-background-size: 100%;
    -moz-background-size: 100%;
    -ms-background-size: 100%;
    -webkit-background-size: 100%;
    background-size: 100%;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    cursor: pointer;
    -webkit-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
  }

  /*no need to fix advanced selectors for ie as mobile only layout*/
  .accordion input:checked + ul > li {
    height: 2.5em;
  }
  .accordion ul > li {
    height: 0;
    line-height: 2.4;
    transition: height 0.9s ease-out;
  }
  .accordion ul {
    width: 8rem;
    position: absolute;
    top: 4em;
    left: -99em;
    background-color: transparent;
  }
  nav {
    background-color: transparent;
  }
  .accordion input:checked + ul {
    z-index: 2;
    opacity: 0.95;
    position: relative;
    left: calc(100% - 9.5em);
  }
  .accordion ul li {
    margin: 0;
  }
  .accordion ul li a {
    border-radius: 0;
    padding: 0 0.5em;
    background-color: rgba(0, 0, 20, 0.7);
    color: white;
  }
  .accordion ul li a:hover {
    background-color: rgba(0, 0, 0, 0.9);
    color: hsl(208, 100%, 90%);
  }

  #home main article {
    margin: 44em 1em 1em 1em;
  }
  #home main article p:last-child {
    margin: 0;
  }
  #home main article p:first-child {
    margin: 0;
  }
}

a#FacebookBadge {
  width: 50%;
  display: block;
  padding: 3px 0;
  border-radius: 4px;
  background-color: hsla(360, 84%, 25%, 1);
}
a#FacebookBadge:hover {
  background-color: #4267B2;
}
a#FacebookBadge img {
  display: block;
  width: 100%;
  padding: 0;
}

/*https://codepen.io/t_afif/pen/dyZOBex*/
.ribbon-2 {
  --f: 10px; /* control the folded part*/
  --r: 15px; /* control the ribbon shape */
  --t: 10px; /* the top offset */
  color: whitesmoke;
  position: absolute;
  inset: var(--t) calc(-1 * var(--f)) auto auto;
  padding: 10px 10px 20px calc(10px + var(--r));
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--f)),
    calc(100% - var(--f)) 100%,
    calc(100% - var(--f)) calc(100% - var(--f)),
    0 calc(100% - var(--f)),
    var(--r) calc(50% - var(--f) / 2)
  );
  background: rgba(49, 2, 73, 1);
  color: pink;
  box-shadow: 0 calc(-1 * var(--f)) 0 inset #0005;
  margin: .5em 0 0;
  font-size: 1.5em;
}
#triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  border: solid 100px white;
  width: 0px;
  border-color: transparent  hsl(90, 65%, 60%) hsl(90, 65%, 60%)
  transparent;
}

#triangle:before {
  content: "07966 702640";
  display: block;
  position: absolute;
  bottom: -60px;
  right: 1em;
  color: white;
  width: 100%;
white-space: nowrap;
font-size: 1.3em;
text-shadow: 1px 1px 1px black;

}
#triangle:after {
  content: "call/text Selina";
  display: block;
  position: absolute;
  bottom: -40px;
  right: 1em;
  color: white;
  width: 100%;
white-space: nowrap;
font-size: 1.3em;
text-shadow: 1px 1px 1px black;
}

.intro {
  margin: 4em 0 1em;
  font: 1em Arial, Helvetica, sans-serif;
}