
nav input {
    display: none;
  }
  
  
  
  @media only screen and (max-width: 812px) {

.accordion {
    position: relative;
    z-index: 3;
    background-color: transparent;
  }

  .accordion ul li {
    margin: 0;
  }
  .accordion ul li.hi a {
    background: hsla(0, 68%, 42%, 1);
    color: white;
  }
  .accordion ul li.hi a:hover {
    background: black;
  }
  .accordion label {
    position: absolute;
    top: 0em;
    right: 2.5em;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    border: solid 1px white;
    background-position: 50% 100%;
  }
  .accordion label {
    background: 50% 1% url("../img/wheel.png") no-repeat firebrick;
    -o-background-size: 100%;
    -moz-background-size: 100%;
    -ms-background-size: 100%;
    -webkit-background-size: 100%;
    background-size: 100%;
    -webkit-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
  }
  .menu {
    background-color: firebrick;
  }
  .menu:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background-color: hsl(0, 68%, 33%);
  }

  /*no need to fix advanced selectors for ie as mobile only layout*/
  .accordion input:checked + ul > li {
    height: 2.5em;
  }
  .accordion ul > li {
    height: 0;
    line-height: 2.4;
    transition: height 0.9s ease-out;
  }
  .accordion ul {
    width: 11em;
    position: absolute;
    top: 5.6em;
    left: -99em;
    background-color: transparent;
  }

  .accordion input:checked + ul {
    z-index: 2;
    opacity: 0.95;
    position: relative;
    left: calc(100% - 11em);
  }

  .accordion ul li a {
    border-radius: 0;
    padding: 0 0.5em;
    background-color: rgba(0, 0, 20, 0.95);
    background-color: hsla(0, 68%, 30%, 1);
    color: white;
  }
  .accordion ul li a:hover,
  .accordion ul li.hi a {
    background-color: hsla(0, 88%, 10%, 1);
    color: palegoldenrod;
  }
}

@media only screen and (max-width: 480px) {

    .accordion label {
      right: calc(66px + 40 * (100vw - 375px) / (480 - 375));
      top: calc(20px + 10 * (100vw - 375px) / (480 - 375));
      width: calc(48px + 10 * (100vw - 375px) / (480 - 375));
      height: calc(48px + 10 * (100vw - 375px) / (480 - 375));
    }
  
    .accordion ul {
      width: 140px;
      top: calc(65px + 30 * (100vw - 320px) / (480 - 320));
    }
  
    .accordion input:checked + ul {
      left: calc(130px + 120 * (100vw - 320px) / (480 - 320));
    }

  }
  
  @media only screen and (max-width: 375px) {
    .accordion label {
      right: calc(42px + 24 * (100vw - 269px) / (375 - 269));
      top: calc(6px + 10 * (100vw - 269px) / (375 - 269));
      width: calc(36px + 14 * (100vw - 269px) / (375 - 269));
      height: calc(36px + 14 * (100vw - 269px) / (375 - 269));
    }
  }
  